.container {
    margin: auto;
    
    display: inline-block;
  }

#img:hover{
    color: aqua;
    background-color: brown;
    transform: scale(1.1);
    transition-duration: 1s;
}
.button {
    background-color: #464946;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #3e8e41;
    color: white;
  }

.danger {
  background-color: #f44336;
} 
.danger:hover {
  background: #da190b;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:  #646864;
  float:center;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(32, 32, 32);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(27, 26, 26);
}

.topnav a.active {
  background-color: #85878a;
  color: white;
}

.topnav .search-container {
  float: center;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: center;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: center;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: center;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}