<html>
<body style="text-align: center;">

	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'index' %}"> Continue Shopping</a>
			</div>
            <br>
            {% for item in form %}
            <div>
                <img src="{{ item.product.image.url }}">
                <h3>{{item.product}}</h3>
                <p>{{item.user}}</p>
                <h3>{{item.price}}</h3> 
                <br><br>
            </div>
            {% endfor %}
        </div>   
    </div>

Total Price:<h3>{{amount}}</h3>
</body>
</html>
