{% load static %}
<html>
<link rel="stylesheet" href="{% static 'mycss.css' %}">

<body style="text-align:center;">

    <h1>Your Cart</h1><br>
    <div class="box-element">
        <a class="btn btn-outline-dark" href="{% url 'view_product' %}"> Continue Shopping</a>
    </div>
    <br>

    {% for item in form %}
    <div class="container">
        <div class="row">
            {% if item.is_active == True %}
            <div class="card" style="width: 18rem;">
                <img id="img" class="card-img-top" src="{{ item.product.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ item.product.title }}</h4>
                    <p class="card-text">{{ item.product.brand }}</p>
                    <p class="card-text">Price - ₹{{ item.price }}</p>
                    <p class="card-text">Quantity - {{ item.quantity }}</p>
                    <p class="card-text">Tax- {{ item.get_tax }}</p>
                    <div>
                        <form method="post" action="{% url 'remove_item_cart' item.product.id %}">
                            {% csrf_token %}
                            <button type="submit">Remove Item</button><br>
                        </form>
                    </div>
                    <form method="post" action="{% url 'remove_cart' item.id %}">
                        {% csrf_token %}
                        <button type="submit">Remove Cart</button><br>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    {% empty %}
    <h3>You have no product in your cart</h3>
    <img src="/images/cart1.png"><br><br>

    {% endfor %}
    <div>
        Total Price:<h3>{{price.total}}</h3>
        Tax:<h3>{{tax_charges.tax}}</h3>
        Grand Total:<h3>{{grand_total.grand_total}}</h3>
    </div>
    <form method="post" action="{% url 'orderplaced' %}">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{key}}"
            data-amount="{{grand_total.grand_total}}"
            data-description="payment Gateway"
            data-locale="">
        </script>
    </form>

    <div style="margin-top: auto;">
        {% if messages %}
        <h5>{{message}}</h5>
        {% endif %}
    </div><br><br>

</body>
</html>