{% load static %}
<html>
<link rel="stylesheet" href="{% static 'mycss.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <title>website</title>
</head>

<body style="text-align: center;">

    <h1><img src="/images/flipkart-plus_8d85f4.png" alt="image" width="150px"></h1>

    <div class="topnav">
        <a href="{% url 'view_product' %}"><i class="fa fa-home"></i> Home</a>
        <a href="{% url 'cart' %}" style="float: right;"><i class="fa fa-cart"></i>Cart</a>
        <a href="{% url 'wishlist' %}" style="float: right;" class="fa fa-heart"> Wishlist</a>
        <a href="{% url 'order_history' %}" style="float: right;">Orders</a>
        <a href="{% url 'logout' %}" style="float: right;">Logout</a>
        <div class="search-container">
            <form method="GET" action="{% url 'search' %}">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <br>
    <div>
        <form method="GET" action="{% url 'searchlist' %}">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</body>

</html>
{% for message in messages %}
{{message}}
{% endfor %}
{% block content %}
{% endblock %}