{% load static %}
<html>
<link rel="stylesheet" href="{% static 'mycss.css' %}">

<head>
    <title>website</title>
</head>

<body style="text-align: center;">

    <h1>Ecommerce Website</h1>
    <nav id="nav">
        <a href="{% url 'view_product' %}" class="a"><img src="/images/home.jpeg" alt="Home"></a>
        <a href="{% url 'cart' %}" class="a"><img src="/images/cart.jpg" alt="cart"></a>
        <a href="{% url 'wishlist' %}" class="a"><img src="/images/wish.jpeg" alt="wishlist"></a>
        <a href="{% url 'order_history' %}" class="a"><img src="/images/order.jpeg" alt="order"></a>
        <a href="{% url 'logout' %}" class="a"><img src="/images/logout.jpeg" alt="logout"></a>
    </nav>
    <br>
    <form method="GET" action="{% url 'search' %}">
        <input type="search" name="search" placeholder="Search...">
        <button type="submit"> Search </button>
    </form>
</body>

</html>
{% for message in messages %}
{{message}}
{% endfor %}
{% block content %}
{% endblock %}