{% load static %}
<html>
<link rel="stylesheet" href="{% static 'mycss.css' %}">

<head>
    <title>orders</title>
</head>

<body style="text-align:center;">

    <h1>Your Order</h1><br>

    <div class="box-element">
        <a class="btn btn-outline-dark" href="{% url 'view_product' %}"> Continue Shopping</a><br><br>
    </div>

    {% if cart.price == None %}

    {% for product in orders.product.all %}
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img id="img" class="card-img-top" src="{{ product.product.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ product.product.title }}</h4>
                    <p class="card-text">{{ product.product.brand }}</p>
                    <p class="card-text">Price - Rs.{{ product.price }}</p>
                    <p class="card-text">Quantity - {{ product.quantity }}</p>
                    <p class="card-text">{{ orders.created_on }}</p>
                    <p class="card-text">{{ orders.status }}</p>
                </div>
            </div>
            <br><br>

            <form method="post" action="{% url 'cancel_order' orders.id product.id %}">
                {% csrf_token %}
                <button type="sumbit" class="button danger">cancel order</button><br>
            </form>
            <div>
                <p class="card-text">Total amount :Rs.{{orders.total_product_price}}</p>
                <p class="card-text">Tax : 18 %</p>
                <p class="card-text">Tax charges: {{orders.total_tax}}</p>
                <p class="card-text">Grand Total: {{orders.total_order_price}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <h3>You order is empty</h3>
    <img src="/images/cart.png">
    {% endif %}

   

    <div style="margin-top: auto;">
        {% if messages %}
        <h5>{{message}}</h5>
        {% endif %}
    </div><br><br>

</body>
</html>