{% extends "index.html" %}
{% block content %}
{% load static %}
<html>
<link rel="stylesheet" href="{% static 'mycss.css' %}">

<head>
  <title>products</title>
</head>

<body>

  <h1></h1><br>


  {% for product in product %}
  <div class="container">
    <div class="row">
      {% if product.in_stock == True %}
      <div class="card" style="width: 18rem;">
        <img id="img" src="{{ product.image.url }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{ product.title }}</h4>
          <p class="card-text"><img src="{{ product.brand.brand_logo.url }}" width="50px">
          </p>
          <p class="card-text">Price - {{ product.price }}</p>


          {% if product in wish %}
          <button type="submit">Already in wishlist</button><br><br>
          {% else %}
          <form method="post" action="{% url 'add_to_wishlist' product.id %}">
            {% csrf_token %}
            <button type="submit">Add to wishlist</button><br>
          </form>
          {% endif %}
          <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <button type="submit">Add to Cart</button><br>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  {% endif %}
  {% endfor %}


  {% if messages %}
  {{message}}
  {% endif %}

</body>

</html>
{% endblock %}