{% extends "index.html" %}
{% block content %}
<html>
    <head>
        <title>Search Results</title>
    </head>
<body style = 'text-align: center;'>
    {% for product in all_search_results %}
    <div>
        <img src="{{ product.image.url }}">
        <h3>{{product.title}}</h3>
        <p>{{product.brand}}</p> 
        <h4>{{product.price}}</h4>
        Quantity:
        <input type="number" value="{{ item.quantity }}"> <br><br>
    <a href = "{% url 'add_to_cart' product.id %}"><button>Add to Cart</button></a><br><br>
    </div>
    {% empty %}
        <h2>No results found</h2>
    {% endfor %}
    
    
</body>
</html>
{% endblock %}
