{% extends "index.html" %}
{% block content %}
{% load static %}
<html>
<link rel="stylesheet" href="{% static 'mycss.css' %}">

<head>
  <title>Search Results</title>
</head>

<body style="text-align:center;">

  {% for product in all_search_results %}
  <div class="container">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <img id="img" src="{{ product.image.url }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{ product.title }}</h4>
          <p class="card-text">{{ product.brand }}</p>
          <p class="card-text">Price - {{ product.price }}</p>
          {% if product in cc %}
          <i class="fa fa-heart"></i><br><br>
          {% else %}
          <form method="post" action="{% url 'add_to_wishlist' product.id %}">
            {% csrf_token %}
            <button type="submit">Add to wishlist</button><br>
          </form>
          {% endif %}

          <a href="{% url 'add_to_cart' product.id %}"><button type="sumbit" class="button success">Add to
              Cart</button></a><br><br>
        </div>

      </div>
    </div>
  </div>
  {% empty %}
  <h2>No results found</h2>
  {% endfor %}

  <div style="margin-top: auto;">
    {% if messages %}
    <h5>{{message}}</h5>
    {% endif %}
  </div><br><br>

</body>
</html>
{% endblock %}