{% extends "index.html" %}
{% block content %}
<html>

<head>
  <title>products</title>
</head>

<body style='text-align: center;'>
  <h1></h1><br>
  {% comment %}

    {% for product in form %}
    <h3>{{product.title}}</h3>
    <p>{{product.brand}}</p>
    <img src="{{ product.image.url }}">
    <h4>{{product.price}}</h4>
    {% endfor %}
  
  {% endcomment %}


  {% for product in product %}
  {% if product.stock == True %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{ product.title }}</h4>
      <p class="card-text">{{ product.brand }}</p>
      <p class="card-text">Price - {{ product.price }}</p>

    <form method="post" action="">
      {% csrf_token %}
      {% if product in wish %} 
        <a href = "" style="color: red;"><button type="sumbit">Already in wishlist</button></a><br><br>
      {% else %}
        <a href = "{% url 'add_to_wishlist' product.id %}"><button type="sumbit">Add to wishlist</button></a><br><br>
      {% endif %}
    </form>

      <a href = "{% url 'add_to_cart' product.id %}"><button type="sumbit">Add to Cart</button></a><br><br>
    </div>
  </div>
  {% endif %}
  {% endfor %}
{% for message in messages %}
  {{message}}
{% endfor %}

</body>

</html>
{% endblock %}